### Ciao! Mi chiamo Alessandro.&nbsp;&nbsp;👋

I'm Alexander, aka Birkhoff on the Internet. I'm a software designer, building software for over 10 years, including ones that over a million people use daily. I also build secure and repeatable hybrid cloud infrastructure.

- 🔨 My favourite programming languages are TypeScript and Python 3.
- 🌱 Made several [contributions to open source since 2013](https://github.com/BirkhoffLee), to projects such as [Clash](https://github.com/Dreamacro/clash), [jsDelivr](https://github.com/jsdelivr/www.jsdelivr.com), [Crater](https://github.com/crater-invoice/crater) and [a beginner's guide to AI](https://github.com/humphd/have-fun-with-machine-learning).
- ⚡ Besides software engineering, I'm into web3 development and blockchain technology as well.
- 💬 I speak Mandarin Chinese, English and Italian.
- 📫 Get in touch by email at [hello@birkhoff.me](mailto:hello@birkhoff.me) ([PGP](https://birkhoff.me/pgp-key.txt)) or Twitter ([@birkhofflee](https://twitter.com/birkhofflee)).

<picture>
  <img src="/metrics.svg" alt="GitHub Metrics">
</picture>

### Work Experience
In the overview below you will find my most recent work experience:

<a href="https://safemoon.com/">
  <picture>
    <source media="(prefers-color-scheme: dark)" srcset="https://raw.githubusercontent.com/BirkhoffLee/BirkhoffLee/master/assets/safemoon-dark.svg">
    <source media="(prefers-color-scheme: light)" srcset="https://raw.githubusercontent.com/BirkhoffLee/BirkhoffLee/master/assets/safemoon.svg">
    <img align="left" height="94px" width="94px" alt="Safemoon Logo" src="https://raw.githubusercontent.com/BirkhoffLee/BirkhoffLee/master/assets/safemoon.svg">
  </picture>
</a>

**Site Reliability Engineer (SRE)** \
[**Safemoon**](https://safemoon.com/) \
Topics: `RHEL`, `Ansible`, `Terraform`, `Linux Containers`, `Prometheus`, `WireGuard`, `MySQL Cluster` \
Led the operations team to maintain HA of over 20 servers and over 100 containers. Designed a mesh VPN setup for the hybrid cloud infrastructure.
<br/>

### Blog Posts
In the overview below you will find the featured posts of my [blog](https://birkhoff.me/):

{{ BLOG_POST_FEED }}

### Credits
I would like to thank everyone who has supported me in my career. If you would like to get in touch, the best tway to reach out would be via [email](mailto:hello@birkhoff.me) or [Twitter](https://twitter.com/birkhofflee).

<picture>
  <img src="/followers.svg" alt="My followers on GitHub">
</picture>
